<?xml version="1.0" encoding="utf-8" ?>
<BotConfig>
	<!-- <CommandPrefix>.</CommandPrefix> -->
	<!-- <AlternativeCommandPrefix>!</AlternativeCommandPrefix> -->
	<!-- <InputMaxLength>2048</InputMaxLength>-->
	<!-- <EnableGPTStreamOutput>false</EnableGPTStreamOutput>-->
	<!-- <MaxUserPromptToChatGPT>32</MaxUserPromptToChatGPT> -->
	<!-- <MaxUserPromptToDallE>3</MaxUserPromptToDallE> -->
</BotConfig>